{% load browserid %}
{% load flickr %}
<!DOCTYPE HTML>

<html lang="en">
<head>
  <title>{% block title %}Flickr Stats{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}daterangepicker/daterangepicker-bs3.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/layout.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/persona-buttons.css">
{% block style_lib %}{% endblock %}
{% block head %}{% endblock %}
</head>
<body>
  {% browserid_info %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      {% if user.is_authenticated %}
        <div class="navbar-header">
          <a class="navbar-brand" href="http://flickr.com/photos/{{ account.nsid }}">{{ account.username }}</a>
        </div>
        <ul class="nav navbar-nav">
          <li{% ifurl 'dashboard' %} class="active"{% endifurl %}><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
        <p class="navbar-persona navbar-right">
          {% browserid_logout link_class="persona-button" text="<span>Sign out</span>" %}
        </p>
      {% else %}
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Flickr Stats</a>
        </div>
        <p class="navbar-persona navbar-right">
          {% browserid_login link_class="persona-button" text="<span>Sign in</span>" %}
        </p>
      {% endif %}
    </div>
  </div>

{% block body %}{% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="{{ STATIC_URL }}daterangepicker/daterangepicker.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  {% browserid_js %}
{% block script_lib %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
